@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about books.</p>
</div>

@foreach (Book b in Model.Books)
{
    <h3>@b.Title</h3>

    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.ISBN</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price $@b.Price</li>
    </ul>

    <br />
}

<div page-blah="@Model.PageInfo" page-action="Index"></div>